{% load static %}

.overlay {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    margin-top: 100px; /* Adjust as needed */
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

